# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Turbo
.turbo

# Cloudflare / Wrangler
.wrangler
wrangler-debug.log
.dev.vars

# Environment variables
.env
.env.local
.env.*.local
.env.*
.omx

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
.playwright-mcp/console-2026-04-09T03-19-43-598Z.log
.playwright-mcp/console-2026-04-09T03-59-26-840Z.log
.playwright-mcp/page-2026-04-09T03-19-45-027Z.yml
.playwright-mcp/page-2026-04-09T03-59-27-413Z.yml
.playwright-mcp/page-2026-04-09T04-04-09-349Z.yml
